<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Usuarios - Kinal App</title>
    <link rel="stylesheet" th:href="@{/css/usuarios.css}">
</head>
<body>
<div class="container">
    <header>
        <h1>Gestión de Usuarios</h1>
        <a th:href="@{/menu}" class="btn-back">Volver al Menú</a>
    </header>

    <section class="table-container">
        <table class="glass-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>USER</th>
                <th>EMAIL</th>
                <th>ROL</th>
                <th>ACCIONES</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u : ${usuarios}">
                <td th:text="${u.codigoUsuario}"></td>
                <td th:text="${u.userName}"></td>
                <td th:text="${u.email}"></td>
                <td th:text="${u.rol}"></td>
                <td class="actions-cell">
                    <a th:href="@{/usuarios/editar/{id}(id=${u.codigoUsuario})}" class="btn-edit">Editar</a>

                    <a th:href="@{/usuarios/eliminar/{id}(id=${u.codigoUsuario})}"
                       class="btn-delete-link"
                       onclick="return confirm('¿Eliminar usuario?')">
                        Eliminar
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>